.ins {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    padding-top: 115px;
    background-color: #eee;
    height: 100%;
}
html {
    height: 100%;
}

.ins_logo {
    width: 228px;
}

.ins .head {
    padding: 0px;
}
.ins .desc-padd {
    padding: 0px;
    margin-left: 15px;
}
/* pagination css starts */
.ins .pagination > .active > a, .ins .pagination > .active > span, .ins .pagination > .active > a:hover, .ins .pagination > .active > span:hover, .ins .pagination > .active > a:focus, .ins .pagination > .active > span:focus {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #bc0071;
    cursor: default;
    z-index: 3;
}
.ins .inter-info{
    margin-top: -115px;
}
.ins .iframe-info{
    /*width:100%;*/
    height:100%;
}
.ins .iframe-info1{
    width:100%;
    height:52%;
}
.ins .iframe-match{
   
    width: 100%;
    height: 179%;
    margin-top: -184px;

}
.ins .iframe-profile{
           width: 100%;
    height: 139%;
    margin-top: -270px
}
.ins .iframe-marg{
       
        margin-top: -203px;

}
.ins .paddind-recru{
    padding: 0px;
}
.ins .paddind-recruiter{
    padding: 0px;
   
}
.ins .rd-sub{
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 23px;
    width: 165px;
}
.ins .can-marg{
        margin-left: -17px;
    margin-top: 6px;
}
.ins .border-rec{
    border: 1px solid #e1e1e1;
}
.ins .max-marg{
    margin-left: -243px;
    margin-top: 31px;

}
.ins .minuscl{
    margin-left: 6px;
    color: #884579;
    float: right;;
}
.ins .minusc3{
        margin-left: 35px;
    color: #884579;
}
.ins .minusc2 {
    margin-left: 39px;
    color: #884579;
}
.ins .pagination > li:first-child > a, .ins .pagination > li:first-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-right: 0px;
}
.ins .skill-top-bot{
    margin-bottom: 10px;
    margin-top: 29px;
}
.ins .pagination > li > a, .pagination > li > span {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #000;
    float: left;
    line-height: 1.42857;
    margin-left: 10px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.ins .pagination > li:last-child > a, .ins .pagination > li:last-child > span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.ins div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 10px 0 7px;
    white-space: nowrap;
}
.ins .skill-margbo{
        margin-bottom: 37px;
}
/* pagination css ends */
/* Navbar css starts */
.ins .insNav{
        background-color: #fff;
    border-color: #fff;
    min-height: 80px;
    margin-bottom: 0;
    border: 0;
}
.ins .profi-edit {
    margin-top: -48px;
    margin-bottom: 5px;
    background-color: #337ab7;
    color: white;
}
.ins .pers-edit {
    margin-top: 9px;
    margin-bottom: 5px;
    background-color: #337ab7;
    color: white;
}
.ins .margprof-bott{
        margin-bottom: 20px;
}
.ins .margprof-bott1{
        margin-bottom: 10px;
}
.ins .loc-prof {
    margin-top: 18px;
    margin-left: 0px;
    width: 255px;
}

.ins .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 30px 0px;
}
.ins .intervconfirm{
    margin-top: 10px;
    margin-bottom: 20px;
  
}
.ins .nav > li.active:nth-child(1) .activebottom{
    position: absolute;
    background: #bc0071;
    width: 100%;
    height: 4px;
    bottom: -2px;
}
.ins .jobpadding{
    padding-left:0px;
   min-height: 20px;
}
.ins .sta-marg{
    margin-left: -5px;
}
.ins .delete-marg{
    margin-left: 19px;
}
.ins .tit-minheight{
     min-height: 16px;
}
.ins .applie-marg{
        margin-left: -12px;
}
.ins .applyhis-marg{
       border-bottom: 1px solid #e1e1e1;
    margin-left: -28px;

}
.ins .nav > li:nth-child(1) .activebottom{
    position: absolute;
    background: #bc0071;
    width: 100%;
    height: 4px;
    bottom: -2px;
}
.ins .nav > li:nth-child(2) .activebottom{
    position: absolute;
    background: #b3dc74;
    width: 100%;
    height: 4px;
    bottom: -2px;
}
.ins .nav > li.active:nth-child(2) .activebottom{
    position: absolute;
    background: #b3dc74;
    width: 100%;
    height: 14px;
    bottom: -2px;
}
.ins .nav > li.active:nth-child(3) .activebottom{
    position: absolute;
    background: #3ea1e2;
    width: 100%;
    height: 14px;
    bottom: -2px;
}
.ins .ins-logout{
    color: #ffffff !important;
    background-color: #698ef6;
    border-color: #cccccc;
    margin-top: 23px;
    height: 29px;
    padding-right: 30px !important;
    padding-top: 3px !important;
}
.ins .nav > li:nth-child(3) .activebottom{
    position: absolute;
    background: #3ea1e2;
    width: 100%;
    height: 4px;
    bottom: -2px;
}
.ins .nav > li:nth-child(4) .activebottom{
    position: absolute;
    background: #ff776b;
    width: 100%;
    height: 4px;
    bottom: -2px;
}
.ins .bck-color{
    background-color: white;
}
.ins .nav > li.active:nth-child(4) .activebottom{
    position: absolute;
    background: #ff776b;
    width: 100%;
    height: 4px;
    bottom: -2px;
}
.ins .navbar-brand { 
    margin-right: 65px;
}
.ins .navbar-default .navbar-nav.navbar-right > li > a {
    text-align: right; 
}
.ins .navimg {
    position: relative;
    top: -3px;
}
.ins .navone_img {
    background: url("img/dashboard.jpg") no-repeat
}
.ins .navbar-default .navbar-nav > .active > a, .ins .navbar-default .navbar-nav > .active > a:hover, .ins .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #074368;
    position: relative;
    
}
.ins .navbar-default .navbar-nav > li > a {
    font-size: 16px;
    width: 120px;
    padding: 0;
    text-align: center;
}
/* navbar css ends */
.ins .hiddenc{
    display: none;
}
/* index page css starts */
/* mobile css changes here */
.ins .w1{
    width: 650px;
}
.ins .w2{
    width: 30px;
}
.ins .w3{
    width: 150px;
}
.ins .w4{
    width: 150px;
}
.ins .second_job {
    margin-bottom: 50px;
}
.ins .addmain {
    float: right;
}
.ins .wind-marg{
    margin-left: 10px;
}

/* mobile css changes ends here */
.ins .jobmatchYout .count_matches {
    margin: 20px 0;
}
.ins .sortby {
    display: inline-block;
}
.ins .jobmatchYout {
    background-color: #fff;
}
.ins .jobmatchYout .jobheding{
    color: #5e0058;
    margin: 0;
    margin-bottom: 10px;
}
.ins .sort {
    border-bottom: 1px solid #e1e1e1;
    margin-top: 10px;
    margin-bottom: 0px;
}
.ins .sort1 {
   margin-left: 16px;
       font-size: 13px;
}
.ins .font-title{
    font-size: 15px;
}
.ins .jobmatchYout .jobDetpo{
    color: #5e5e5e; 
}
.ins .jobmatchYout .jobDetpo h5{
    margin: 0px;
    margin-bottom: 10px; 
}
.ins .jobmatchYout .jobbSection {
    padding: 25px 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}
.ins .jobPagination .pagination > li > a {
    margin-right: 5px;
}
.ins .jobPagination .pagination > li:first-child > a, .ins .jobPagination .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.ins .jobPagination .pagination > li:last-child > a, .ins .jobPagination .pagination > li:last-child > span {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.ins .jobPagination .pagination > li > a:hover, .ins .jobPagination .pagination > li > span:hover, .ins .jobPagination .pagination > li > a:focus, .ins .jobPagination .pagination > li > span:focus {
    z-index: 2;
    color: #754a9a;
    background-color: #fff;
    border: 1px solid #dddddd;
}
.ins .jobPagination .pagination > li > a, .ins .jobPagination .pagination > li > span{
    color: #5e5e5e;
}
.ins .jobmatchYout .new{
    color: #e83612; 
}
.ins .mostRelavant {
    margin-top: 15px;
    color: #404042;
    float: right;
    width: 180px;
}
.ins .mrBtn {
    padding-right: 30px;
    border-radius: 0;
}
.ins .applySection {
    padding-top: 22px;
}
.ins .appliedJobs {
    margin-bottom: 20px;
}
.ins .applyhistoryTable .table > thead > tr > th, .ins .applyhistoryTable .table > tbody > tr > th, .ins .applyhistoryTable .table > tfoot > tr > th, .ins .applyhistoryTable .table > thead > tr > td, .ins .applyhistoryTable .table > tbody > tr > td, .ins .applyhistoryTable .table > tfoot > tr > td {
        padding: 10px 0;
    
}

.ins .table > thead > tr > th {
    border-bottom: 0px solid #dddddd;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border: 0px solid #dddddd;
}
.ins .jhe td {
    padding-top: 20px!important;
    padding-bottom: 2px!important;
}
.ins .apthead {
    background: #000;
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
}
.ins .jobheai {
    
    padding-top: 17px!important;
}
.ins .jobti {
    color: #5e0058;
    font-size: 18px;
    position: absolute;
    margin-top: -4px;
}
.ins .jobtable tbody tr:nth-child(4n+4) td{
    border-bottom: 1px solid #e1e1e1;
    
    padding-bottom: 15px!important;
}
.ins #ahis tbody tr:nth-child(4n+4) td{
    border-bottom: 1px solid #e1e1e1;
    
    padding-bottom: 15px;
}
.ins .jobtable .tilerowsp{
    border-bottom-width: 1px;
    padding-bottom: 23px!important;
}
.ins .aphoi {
    padding-top: 17px!important;
}
.ins .dbmaindas tbody tr:nth-child(2) td{
    padding: 0px;
    line-height: 1.5;
}
.ins .dbmaindastbody tr:nth-child(3) td{
    padding: 0px;
    line-height: 1.5;
}
.ins .adddb {
    background: #000;
    color: #aaaaaa;
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    border-top-left-radius: 0;
    padding: 17px 0;
    margin:0;
}
.ins .carouselArticles .camaindiv {
    padding: 20px 0;
    border-top: 1px solid #ebebeb;
}
.ins .carouselArticles {
    background: #fff;
}
.ins .carouselArticles .caption .titlesHead{
    margin:0px;
}
.ins .carouselArticles .imgWidth {
    margin: 0;
    margin-left: 15px;
    width: 80px;
    height: 60px;
}
.ins .carouselArticles .carousel-indicators {
    position: absolute;
  
    z-index: 15;
    width: 23%;
    top: -32px;
    right: 0;
    left: 100%;
    background: transparent;
    padding-left: 0;
        margin-left: -80px;
    list-style: none;
    text-align: center;
}
.ins .carouselArticles .carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #a1a1a1;
}
.ins .carheading {
    margin-top: 25px;
}
.ins .carouselArticles .carousel-indicators li {
    display: inline-block;
    width: 9px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #a1a1a1;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: #fff;
}
.ins .carouselArticles .thumbnail {
    display: block;
    padding: 0;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 0px solid #dddddd;
    border-radius: 0;
}
.ins .carheading .articles {
    text-transform: uppercase;
    color: #5e0058;
    font-weight: 600;
    background-color: #ffffff;
    padding: 15px 0;
    margin: 0;
    padding-left: 15px;
}
.ins .calenderdb{
    margin-bottom: 10px;
}
.ins .imgad_d {
    margin-top: 10px;
}
.ins .adddb::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 100%;
    height: 0;
    width: 0;
    border: 12px solid transparent;
    border-right: 12px solid #000;
    border-top: 12px solid #000;
}
.ins .jobmatchYout .dataTables_length, .ins .jobmatchYout .dataTables_filter, .ins .jbnone tr > th {
    display: none!important;
}
.ins .jobmatchYout #jobMatch{
    border:0px;
}
.ins .jobmatchYout .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

.ins #ahis{
    width: 100%!important;
}
.ins .dbmaindas tbody tr:nth-child(4) td{
    padding: 0px;
    
    line-height: 1.5;
}
.ins table {
        margin-bottom: 0;
}
.ins .dbmaindas tbody tr:nth-child(n) td{
    line-height: 1.5;
    padding: 0px;
}
.ins .dbmaindas .table-bordered {
    border: 0px solid #dddddd;
}

.ins .dbmaindas .theadd {
    background-color: #000;
    color: #fff;
}
.ins .jobmatchYout .pull-right > .dropdown-menu {
    right: 0;
    left: auto;
    border-radius: 0;
    width: 100%;
    min-width: 100%;
   
}
.ins .jobsm {
    width: 60%;
}
.ins .mrcaret {
    margin-left: 0;
    position: absolute;
    right: 10px;
    top: 50%;
}
.ins .paddingRight {
    padding-right: 0px;
}
.ins .asidepart .upcoDiv {
    background: #fff;
    border-bottom: 1px solid #ebebeb;
}
.ins .asidepart .upi {
    font-size: 14px;
    font-weight: bold;
    color: #5e0058;
    margin: 15px 0;
    text-transform: uppercase;
}
.ins .asidepart .updesc {
    line-height: 1.5;
}
.ins .dbmaindas {
    padding-right: 40px;
}
.ins .upcomingCurrentAlert {
    background: white;
    color: #333333;
    border-bottom: 1px solid #ebebeb;
}
.ins .hoover:hover{
        background: #C55762;
        color:white;
    }
.ins .asidepart .seemorebtn {
    width: 100%;
    background: #5e0058;
    border: 0;
    color: #fff;
    padding: 12px 0;
    font-size: 14px;
    text-transform: uppercase;
}
.ins .upcomingAlert {
    background: #fff;
    color: #333132;
    border-bottom: 1px solid #ebebeb;
}
/* index page css ends */
.ins .jobDetails div{
    /*padding: 0px;*/
}
.ins .jobDetails div h6{
    margin:0px;
    margin-bottom: 10px;
    color: #fff;
}
.ins .jobDetails{
    border: 1px solid #fff;
    padding: 30px 30px;
    margin-top: 50px;
}
.ins .jobDetails .textBold{
    font-weight: bold;
}
.ins .jobPost,.jobContainer,.insProfile {
    background-color: #006eb9;
}
.ins .jobName{
    color: #ffffff; 
}
.ins .mDepartment{
    background-color: #fff;
    padding-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 14px;
}
.ins .mDepartment h6 {
    margin:0px;
    margin-bottom: 10px;
}
.ins .mDepartment div :nth-child(2n*1) {font-weight:bold;}
.ins .mDepartment div h6:nth-child(even) {font-weight:200;}
.ins .twoArrows{
    position: absolute;
    left: 50%;
    margin-top: -75px;
    width: 150px;
    margin-left: -60px;
    height: 150px;
    top: 50%;
}
.ins .jobHeader div {
    padding: 0px;
}
.ins .jobCapabulites {
    padding-top: 45px;
}
.ins .jobCapabulites .jobImg{
    position: relative;
    left: 50%;
    width: 64px;
    margin-left: -32px;
}
.ins .jobCapabulites .jobHeader{
    text-align: center;
     padding-bottom: 25px;
}
.ins .jobCapabulites .jobHeader h4{
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 4px solid #5e0058;
}
.ins .joNames{
    margin: 0;
    color: #707070;
    float: left;
}

.ins .tickCorrect{
    float: right;
}
.ins .nameMain{
    margin-bottom: 15px;
}
.ins .jobHeader div.capabulityDiv {
    padding-left: 15px;
}
.ins .jobHeader .capabulityDivName{
    margin-bottom: 5px;
    text-align: left;
}
.ins .marrow{
    display: none;
}
.ins .accepted{
    float: right;
    color: #707070;
    margin:0;
}
.ins .mainCapapuity{
    border-bottom: 1px solid #d7d7d7;
}
.ins .borderMain{
    margin-top: 15px;
}
.ins .acceptColor{
    color: #5e0058;
    font-weight: bold;
}
.ins .insProfileSmall div {
    padding:0px;
}
.ins .mainCapapuity:last-child {
    border-bottom: 0px solid #d7d7d7;
}
.ins .insProfile div.insProfileMain {
    padding-top: 75px;
    padding-bottom: 62px;
}
.ins .inspHeader{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.ins .insaccHeader{
    font-weight: bold;
    font-size: 14px;
}
.ins .insaccsubHeader{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 18px;
}
.ins .innerprofileSecond .insinnerProfile{
    background-color: #fff;
}
.ins .insRati{
    margin-bottom:0px;
}
.ins .relavantSkills{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
}
.ins .paddingNone{
    padding: 0px;
}
.ins .paddingRight{
    padding-right: 0px;
}

.ins .timeIn{
    border: 1px solid #ffffff;
    padding: 10px 7px;
}
.ins .otherSkills{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0px; 
    text-transform: uppercase;
    font-size: 14px;
}
.ins .years {
    margin-bottom: 0;
}
.ins .tablet img{
        display: block;
    }
    .ins .tablet .perHead{
        display: none;
    }
.ins .insProfileSmall div.insinnerProfile{
                background-color: #fff;
                    height: 312px;
                padding: 20px 0 12px 15px;
            }
/* Calender css starts */
.spacing {
    clear: both;
    line-height: 10px;
}
.member-details {
    border: 1px solid #eee;
    padding: 20px;
}
.select-time {
    padding: 40px;
    text-align: center;
    background-color: #340030;
    color: #ddd;
}
.select-time a {
    color: #ddd;
    text-decoration: underline;
}
.select-time .cal {
    float: left;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #eee;
    margin: 4px;
    width: 15%;
}
.select-time .datepic {
    float: left;
    width: 35%;
}
.select-time .timepic {
    float: left;
    width: 65%;
}
@media (max-width: 414px) {
    .select-time .datepic {
        float: left;
        width: 100%;
    }
    .select-time .timepic {
        float: left;
        width: 100%;
    }
    .select-time .cal {
        width: 29%;
        padding: 2px;
        font-size: 14px;
    }
   
}


@media (min-width: 415px) and (max-width: 767px) {
    .select-time .datepic {
        float: left;
        width: 48%;
    }
    .select-time .timepic {
        float: left;
        width: 52%;
    }
    .select-time .cal {
        width: 29%;
        padding: 2px;
        font-size: 14px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .select-time .datepic {
        float: left;
        width: 43%;
    }
    .select-time .timepic {
        float: left;
        width: 57%;
    }
    .select-time .cal {
        width: 28%;
        padding: 5px;
        font-size: 14px;
    }
    .ins .imgad_d {
    width: 90%;
    margin-top: 10px;
    margin-left: 31px;
    }
    

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    width:100%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .select-time .datepic {
        float: left;
        width: 35%;
    }
    .select-time .timepic {
        float: left;
        width: 65%;
    }
    .select-time .cal {
        width: 18%;
    }
    
}
.select-time .cal span {
    font-size: 12px;
}
.ins .datetimepicker table > tbody > tr > td:last-child{
    border-right:0px;
}
.ins .datetimepicker table > tbody:last-child tr > td {
    border-bottom: 0px solid #eeeeee;
}
.datetimepicker {
    background: #006eb9;
    color: #eee;
    border-radius: 0px;
    overflow: hidden;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .176);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .176);
    width: 100%;
    max-width: 100%;
    display: inline-block;
    padding: 0px;
}
.ins .img-responsive {
    /*width: 100%;*/
}
.ins .hiddenc{
    display: none;
}
.datetimepicker+.datetimepicker {
    margin-left: 15px;
}
.ins .datetimepicker table thead td {
    border: 0 none;
}
.datetimepicker .paging {
    text-align: center;
    font-size: 12px;
    position: relative;
    padding: 5px;
}
.datetimepicker .paging .month-name {
    text-transform: uppercase;
    font-weight: 700;
}
.datetimepicker .paging i {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 9px;
    line-height: 24px;
    cursor: pointer;
    border-style: solid;
    border-width: 5px;
}
.datetimepicker .paging i.prev {
    left: 20px;
    top: 15px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-style: none;
}
.datetimepicker .paging i.next {
    right: 20px;
    top: 15px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-style: none;
}
.datetimepicker table {
    font-weight: 400;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}
.datetimepicker table td {
    text-align: center;
    border: 1px solid #eee;
    color: #fff;
    padding: 5px;
}
.ins .seniorCredit{
    text-decoration: underline;
}
.ins .monthDate{
    margin-bottom: 40px;
}
.ins .confirmInterview{
    padding: 20px 40px;
    font-weight: bold;
    margin-bottom: 50px;
    border-radius: 0px;
    background-color: #006eb9;
}
.ins .yourIntervied{
    margin-top: 27px;
    margin-bottom: 23px;
}
.ins .sTime{
    margin-bottom: 0;
    margin-top: 20px;
}
.ins .datetimepicker .paging .month-name {
    color: #fff;
}
.datetimepicker table td.near-month {
    color: #2f88c4;
}
.datetimepicker table td.cur-date.cur-month {
    background: #D9EDF7;
}
.datetimepicker table td.unavailable {
    background: #C55762;
    color: #fff;
}
.datetimepicker table thead {
    font-weight: 700;
}
.datetimepicker table thead td {
    border: none;
    border-bottom: 2px solid #eee;
}
.datetimepicker table tbody td:hover {
    background: #eee;
    cursor: pointer;
}
.datetimepicker table tbody td:hover.unavailable {
    background: #C55762;
    //cursor: not-allowed;
}
.ins .scheduleInterview{
    color: #340030;
    margin-top: 52px;
}
.ins .insbg{
    background-color: #dedede;
}
.ins .insContainer {
    background-color: #fff;
}
.ins .interviewingTime{
    margin-top: 35px;
    margin-bottom: 20px;
}
.ins .selectTime{
    margin-top: 37px;
    margin-bottom: 20px;
}
.ins .mainDiv{
    color:#404040;
}
.ins .roleInterviewing{
    margin-top: 30px;
    margin-bottom: 15px;
}
/* Calender css Ends */
/* nav bar css starts  */
.ins #header_bottom {
    background:#fff;
    
}
.ins .top {
    background: #5e0058 none repeat scroll 0 0;
    cursor: pointer;
   padding: 25px 0;
}
.ins .header_row {
    background: #ffffff none repeat scroll 0 0;
    height: 100%;
    right: -100%;
    position: fixed;
    top: 0px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    width: 90%;
    z-index: 999999;
}
.ins #header_nav_inner{
    list-style: none;
    padding-left: 0;    
}
.ins #header_nav_inner li a{
    border-bottom: 1px solid #e0e0e0 !important;
    color: #4d4d4f;
    display: block;
    font-size: 16px;
    padding: 19px 0 17px 23px;
    text-decoration: none;
}
.ins .header_row.open {
    opacity: 1;
    right: -12%;
}
/* nav bar css Ends  */
.ins .mobile_menu {
    display: none;
}
.ins .marginterview{

    }
.ins .inconfirmmarg{
        
    margin-bottom: 10px;
}
.ins .salamarg{
        margin-bottom: 10px;
}
.ins .applimarg{
    margin-left:-103px;
    font-size: 17px;
    color: green;
}
.ins .uplo-edit {
    margin-top: -51px;
    color: white;
    background-color: #337ab7;
}
.ins .lo-prof {
    margin-top: 9px;
    margin-left: 7px;
    border: 1px solid #e1e1e1;
    width: 255px;
}
.ins .res-marg{
        margin-bottom: 16px;
}
@media (max-width: 991px) {
    .ins .jobContainer{
        padding:0px;
    }
  .ins .loc-prof {
    margin-top: 18px;
    margin-left: -4px;
}
    .ins .max-marg {
        margin-left: -186px;
        margin-top: 29px;
    }
    .ins .wind-marg {
    margin-left: -7px;
    }
    .ins .hoover:hover{
        background: #5e0058 !important;
        color:white  !important;
    }
    .ins .lo-prof {
    margin-top: 9px;
    margin-left: -36px;
    border: 1px solid #e1e1e1;
}
    .ins .twoArrows {
        height: 50px;
        left: 50%;
        margin-left: -85px;
        margin-top: -81px;
        position: absolute;
        top: 50%;
        width: 110px;
    }
    .ins .tabmenu-marg{
        margin-left: -20px;
    }
    .ins .navbar-default .navbar-nav > li > a {
    font-size: 16px;
    width: 106px;
    padding: 0;
    text-align: center;
    }
    .ins .applimarg{
    margin-left:344px;
    font-size: 17px;
    color: green;
}
    .ins .tablet img{
        display: none;
    }
    .ins .tablet .perHead{
        display: block;
        float:left;
        color: #5e0058;
        margin-top:0;
    }
    .ins .jobHeader div.capabulityDiv {
        padding-left: 0px;
    }
    .ins .mainCapapuity:last-child {
        border-bottom: 1px solid #d7d7d7;
}
    .ins .jobCapabulites .jobHeader {
        padding-bottom: 53px;
        text-align: center;
    }
    .ins .jobCapabulites .jobHeader.jobtablet {
        padding-bottom: 35px;
        text-align: center;
    }
    .ins .insProfileSmall div.insinnerProfile {
        background-color: #ffffff;
        height: 410px;
        padding: 3px 0 12px 15px;
    }
    .ins .insProfile div.insProfileMain {
        padding: 40px 0;
    }
    .ins .jobCapabulites {
        padding-top: 45px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .ins .jobPost,.second_section {padding: 0px;}
    .ins .darrow{
        display: block;
    }
    .ins .marrow{
        display: none;
    }
    .ins .nav.navbar-nav.navbar-right {
        display: none;
    }
    .ins .sortby {
        font-size: 12px;
    }
    .ins .dbmaindas {
        padding-right: 15px;
    }
    .ins .aside {
        margin-top: 25px;
    }
    .ins .adddb::before { 
         right: 91%;
    }
    .ins .aside .firstDiv {
        padding-left: 25px;
    }
    .ins .addmain {
        padding-left: 30px;
    }
    .ins .hiddenc{
        display: block;
    }
    .ins .carouselArticles .carousel-indicators {
        margin-left: -17%;
    }
    .ins .head-marg{
            margin-left: -20px;
    }

}
@media (max-width: 767px) {
    /* mobile css responsive */
    .ins .count_matches, .ins .tilerowsp, .ins .none, .ins .apthead  {
        
    }
    .ins .loc1{
        display:none;
    }
    .ins .max-marg {
    margin-left: -26px;
    margin-top: 29px;
}
    
    .ins .sal1{
        display:none;
    }
    .ins .cat1{
        display:none;
    }
    .ins .dpposted {
        width: 160px;
    }
    .ins .form-margin1{
            margin-left: 16px;
    }
    .ins .acc-marg{
        margin-left: 25px;
    }
    .ins .apply-paddingnone{
        padding:0px;
        margin-left: -18px;
    }
    .ins .sche-paddingnone{
        padding:0px;
    }
    .ins .sche-paddingmarg{
         padding:0px;
             margin-left: 38px;
    }
    .ins .com-paddingmarg{
         padding:0px;
        margin-left: 38px;
    }
    .ins .int-paddingmarg{
        padding:0px;
        margin-left: 4px;
    }
   .ins .loc-prof {
        margin-top: 18px;
        /*margin-left: -52px;*/
        width: 131px;
    }
    .ins .wind-marg {
        margin-left: -7px;
    }
    .ins .lo-prof {
        margin-top: 11px;
        margin-left: -96px;
        border: 1px solid #e1e1e1;
        width: 151px;
    }
    .ins .butt-marg{
            margin-left: 17px;
    }
    .ins .description{
        display:none;
    }
    .ins .mwidth {
        width: 100%;
    }
    .ins .tickmarg{
            margin-left: -20px;
    }
    .ins .hoover:hover{
        background: #5e0058 !important;
        color:white  !important;
    }
    .ins .bbr {
        border-bottom: 1px solid rgb(225, 225, 225);
    }
    .ins .w1 {
        width: 290px;
    }
    .ins .mostRelavant {
        margin: 15px auto;
        width: 180px;
        float: none;
    }
    .ins .applimarg {
    margin-left: 176px;
    font-size: 19px;
    color: green;
    /* margin-top: 11px !important; */
    }
    .ins .cnf-rej {
    margin-bottom: 10px;
    margin-left: 50px;
    }

    /*.ins .dbmaindas tbody tr:nth-child(n) td {
    line-height: 1.5;
    padding: 0px;
    width: 29%;
    }*/
    .ins .jobDetails {
        border: 1px solid #ffffff;
        margin-top: 50px;
        padding: 12px;
    }
    .ins .second_job {
        margin-bottom: 0px;
    }
    .ins .aside {
        margin-top: 0px;
    }
    .ins .asidepart .upcoDiv {
        border-top: 1px solid #ebebeb;
        
    }
    .ins .adddb {
        font-size: 16px;
        padding: 17px 5px;
    }
    .ins .addmain {
        float: none;
    }
    .ins .aside .firstDiv {
        padding-left: 0px;
    }
    .ins .carheading {
        margin-top: 0px;
    }
    .ins .carouselArticles .carousel-indicators {
        margin-left: -25%;
    }
    .ins .hiddenc {
        display: none;
    }
    .ins .imgWidth {
        width: 85%;
    }
    .ins .mobile_menu {
        display: block;
    }
    .ins .navbar-nav{
        display: none;
    }
    /* mobile css responsive ends here */
    .ins .darrow{
        display: none;
    }
    .ins .marrow{
        display: block;
        padding-top: 22px;
        position: relative;
        margin: 0 auto;
    }
    .ins .twoArrows {
        height: auto;
        left: 50%;
        margin-left: -35px;
         margin-top: 50px;
        position: absolute;
        top: 50%;
        width: 70px;
    }
    .ins .insProfileSmall div.insinnerProfile {
        background-color: #ffffff;
        height: auto;
        padding: 3px 0 12px 15px;
    }
    .ins .jobCapabulites {
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .ins .mDepartment {
        background-color: #ffffff;
        margin-bottom: 22px;
        padding-bottom: 14px;
        padding-top: 20px;
    }
    .ins .mDepartment div, .ins .jobCapabulites div {
        padding: 0px;
    }
    .ins .jobDetails {
        border: 1px solid #ffffff;
        margin-top: 30px;
        padding: 12px;
        min-height: 193px;
    }
    .ins .jobCapabulites .jobImg {
        left: 95%;
        margin-left: -32px;
        position: relative;
        right: 0;
        top: 34px;
        width: 37px;
    }
    .ins .mPost{
        padding: 0px;
    }
    .ins .jobCapabulites .jobHeader h4 {
        padding-bottom: 10px;
        padding-left: 15px; 
         text-align: left;
    }
    .ins .jobCapabulites .jobHeader {
        text-align: left;
    }
    .ins .accepted {
        color: #707070;
        float: left;
        margin: 0;
    }
    .ins .navbar-brand {
        float: none;
        font-size: 18px;
        height: 50px;
        line-height: 20px;
        padding: 15px;
    }
    .ins .mbottom{
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 360px) {
    .ins .loc-prof {
        margin-top: 18px;
        margin-left: -74px;
        width: 131px;
    }
        .ins .lo-prof {
        margin-top: 11px;
        margin-left: -80px;
        border: 1px solid #e1e1e1;
        width: 120px;
    }
    .ins .uplo-edit {
    margin-top: -48px;
    }
}
@media screen and (max-width: 414px){
    .ins .loc-prof {
        margin-top: 21px;
        margin-left: -43px;
        width: 131px;
    }
}
@media screen and (max-width: 375px){
   .ins .loc-prof {
    margin-top: 11px;
    margin-left: 0;
    width: 131px;
}   

    .ins .butt-marg {
        margin-left: 17px;
        margin-top: -6px;
    }
}
@media screen and (max-width: 320px) {
     .ins .loc-prof {
            margin-top: 13px;
            margin-left: -72px;
            width: 131px;
            width: 116px;
        }
         .ins .lo-prof {
        margin-top: 11px;
        margin-left: -72px;
        border: 1px solid #e1e1e1;
        width: 98px;
    }
    .ins .profi-edit {
        margin-top: 9px;
        margin-bottom: 5px;
    }
    .ins .uplo-edit {
    margin-top: -49px;
    }
}

.container-whitebg{

     background-color: #fff; 
     padding-top: 60px;
      padding-bottom: 60px;
}

.container-whitebg1{
     background-color: #fff; 
     padding-top: 0px;
     padding-bottom: 60px;

    /* This is the hack to keep the mobile view a bit visible */
    min-width: 750px;
}

@media  (max-width: 991px) {
     
    .ins .mobile_menu {
            display: block;
        }
     .ins .navbar-nav{
        display: none;
    }
    .navbar-toggle {
        display: block;
    }

}
.twitter-typeahead {
    width: 100%;
}
.twitter-typeahead .tt-menu {
    width: 100%;
}
.twitter-typeahead .tt-menu .tt-dataset .tt-selectable {
    background-color: #FFF;
    color: #333;
    padding: 10px;
    font-weight: normal;
    cursor: pointer;
}
.twitter-typeahead .tt-menu .tt-dataset .tt-selectable:hover {
    background-color: #673894 !important;
    color: #FFF !important;
}

.scrollable_search_dropdown .tt-menu {
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
}

#location-prefill {
    position: absolute;
    font-size: 20px;
    right: 8px;
    top: 12px;
    color: #cccccc;
}

@media (max-width: 991px) {
    #searchfilter div{
        padding-top:10px;
    }
   
}

.mismatch-outer {
    display: none;
}

.mismatch-container {
    background-color: #E0E0E0;
    padding: 10px !important;
    font-size: 12px;
    margin-bottom: 10px;
}

.mismatch-container .col-md-12 {
    margin-bottom: 4px;
}

.cap-tooltip, .cap-tooltip:hover {
    width: 20px;
    height: 20px;
    background-color: #006eb9;
    border-radius: 50%;
    color: white;
    padding-left: 6px !important;
    text-decoration: none;
    position: absolute;
    right: 0px;
    top: 0px;
}

.cap-tooltip + .popover {
    width: 225px;
    max-width: 225px;
    color: white;
    background-color: #006eb9;
    text-align: left;
}

.cap-tooltip + .popover .popover-title {
    border-radius: 7px;
    border-bottom: none;
    background-color: #006eb9;
    padding: 25px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.cap-tooltip + .popover.right {
    margin-top: 48px;
}

.cap-tooltip + .popover.right .arrow {
    top: 20% !important;
}

.cap-tooltip + .popover.right > .arrow:after {
    border-right-color: #006eb9;
}

.cap-tooltip + .popover.left > .arrow:after {
    border-left-color: #006eb9;
}

.cap-tooltip + h6 {
    width: 80%;
}

@media screen and (max-width: 500px) {
    .mobile-no-padding {
        padding: 0px;
    }
}

.add-skill-header {
    color: #006FB0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.add-skill > div {
    margin-bottom: 10px;
}

.add-skill select, .add-skill textarea {
    width: 100%;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 10px;
    padding-left: 18px;
}

.add-skill textarea {
    padding-left: 20px;
}

.add-skill .item {
    width: 49%;
    float: left;
}

.add-skill .item:nth-child(even) {
    margin-right: 1%;
}

.add-skill .item:nth-child(odd) {
    margin-left: 1%;
}

.clear-link {
    color: #006FB0;
    float: left;
    font-weight: bold;
    font-size: 12px;
}

.submit-skill {
    float: right;
}

.submit-skill button {
    background-color: #006FB0;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    border: none;
}

.update-skill-actions {
    float: right;
}

.update-skill-actions button {
    background-color: #006FB0;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    border: none;
    margin-left: 10px;
}

.skill-group-inner {
    display: none;
}

.skill .name {
    padding: 12px 0px;
    color: #454545;
    font-size: 12px;
    float: left;
}

.skill .actions {
    float: right;
    color: #D04848;
    padding: 12px 0px;
}

.skill .actions a {
    color: #D04848;
    font-size: 12px;
    font-weight: bold;
}

.skill-group-container {
    border-bottom: 1px solid #EBEBEB;
    position: relative;
}

.skill-group-header {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 16px 0px;
    color: #454545;
    cursor: pointer;
    width: 100%;
}

.skill-group-count {
    color: white;
    background-color: #BC0071;
    border-radius: 5px;
    padding: 6px 0px;
    margin-top: 10px;
    position: absolute;
    right: 25px;
    top: 0px;
    width: 75px;
    text-align: center;
}

.skill-group-toggle {
    position: absolute;
    right: 0px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
}

.skill-form {
    display: none;
}

.skill-form > div {
    margin-bottom: 10px;
}

.skill-form .item {
    float: left;
}

.skill-form .item:nth-child(1) {
    width: 32%;
    margin-right: 1%;
}

.skill-form .item:nth-child(2) {
    width: 32%;
    margin-left: 1%;
    margin-right: 1%;
}

.skill-form .item:nth-child(3) {
    width: 32%;
    margin-left: 1%;
}

.skill-form select, .skill-form textarea {
    width: 100%;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 10px;
}

.update-skill {
    border-top: 1px solid #EBEBEB;
}

.missing-skill, .missing-skill:active, .missing-skill:hover, .missing-skill:focus, .missing-skill:visited {
    color: #BC0071;
    text-decoration: underline;
    font-size: 12px;
}

#skill-suggestion-outer {
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000000;
    display: none;
}

.skill-suggestion {
    padding: 45px;
    background: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1000001;
    border-radius: 5px;
}

.skill-suggestion h4 {
    text-align: center;
    color: #006FB0;
    margin-top: 0px;
    font-weight: bold;
}

.skill-suggestion p {
    font-size: 12px;
    margin-bottom: 32px;
    padding: 0px 10px;
}

.skill-suggestion input, .skill-suggestion select, .skill-suggestion textarea {
    width: 100%;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 10px;
}

.skill-suggestion input, .skill-suggestion textarea {
    padding-left: 14px;
}

.skill-suggestion textarea {
    height: 125px;
}

.submit-suggest {
    float: right;
}

.emergency-contact div {
    min-height: 20px;
}

.submit-suggest button {
    width: 145px;
    background-color: #006FB0;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px;
}

.skill-suggestion .close-suggest {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #454545;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

@media (min-width: 767px) {
    .widthclass {
         
        width: 293px;
    }
    
   
}

